* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
}

body {
  background: #fff;
  color: #333;
}


.top {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 26px;
  margin-right: 30px;
}

.search {
  display: flex;
  align-items: center;
  background: #e6c7c1;
  padding: 6px 39px;
  border-radius: 20px;
  margin-right: auto;
}

.search input {
  border: none;
  background: transparent;
  outline: none;
}

.icons span {
  margin-left: 40px;
  font-size: 14px;
}

.icons .active {
  background: #eee;
  padding: 6px 30px;
  border-radius: 20px;
}


.menu {
  background: #e6c7c1;
  display: flex;
  justify-content: center;
  gap: 83px;
  padding: 12px;
  font-size: 14px;
}


.menu-categorias a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  padding: 4px 6px;
  transition: background-color 0.2s ease, color 0.2s ease;
}


.content {
  width: 900px;
  margin: 40px auto;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 30px;
}

h4 {
  font-size: 20px;
  margin-bottom: 8px;
}


.box {
  background: #f5f5f5;
  border-radius: 12px;
  overflow: hidden;
}

.line {
  display: grid;
  grid-template-columns: 220px 1fr;
  border-bottom: 1px solid #ddd;
}

.line:last-child {
  border-bottom: none;
}

.line span {
  padding: 10px 14px;
  font-size: 12px;
}

.line span:first-child {
  color: #777;
  border-right: 1px solid #ddd;
}


.actions {
  display: flex;
  gap: 15px;
  margin: 15px 0 30px;
}

.actions button,
.add {
  background: #e6c7c1;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
}


.card {
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr) 40px;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
}

.card img {
  width: 32px;
}

.card span {
  font-size: 12px;
}


.trash,
.btn-excluir {
  border: none;
  background: #eee;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}


.notificacao {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #4a4a4a;
  color: #ffffff;
  padding: 14px 22px;
  border-radius: 14px;
  font-size: 14px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s ease;
  z-index: 9999;
}

.notificacao.ativa {
  opacity: 1;
  transform: translateY(0);
}
